<%- include('includes/header')  %> 
   
<form action="/api/insert" method="POST">
    <div class="container">
      <h1>Add Employe</h1> <br>
      <hr>
      <label for="email"><b>Name</b></label>
      <input type="text" placeholder="Enter Name" name="txtname" id="email" >
  
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="txtemail" id="email" >

      <label for="email"><b>Phone</b></label>
      <input type="text" placeholder="Enter Phone" name="txtphone" id="email" >
  
      <hr>
      <button type="submit" class="registerbtn">ADD</button>
    </div>
    
  </form>

</body>
</html>