<%- include('includes/header')  %> 
   

    <div class="container">
      <h1>Add Employe</h1> <br>
      <hr>
      <label for="email"><b>Name</b></label>
      <input type="text" placeholder="Enter Name" name="email" id="email" require>
  
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" id="email" required>

      <label for="email"><b>Phone</b></label>
      <input type="text" placeholder="Enter Phone" name="email" id="email" required>
  
      <hr>
    </div>
    


</body>
</html>