* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
  list-style: none;
  text-decoration: none;
}
.add-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  background: #333;
  color: #fff;
  padding: 18px 10px;
}
.btn {
  border: none;
  padding: 10px;
  border-radius: 2px;
  background: #0396de;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}
table {
  /* border: 1px solid #000; */
  border-collapse: collapse;
  width: 100%;
  /* border: 1px solid rgb(187, 184, 184); */
}

thead {
  /* background: #0da291;
  background: #dddddd; */
  text-align: left;
}

tbody tr:nth-child(even) {
  background: #dddddd;
}

th,
td {
  padding: 16px 10px;
  /* border: 1px solid rgb(187, 184, 184); */
}

a {
  color: #333;
}

/*----------------add user--------------------------- */

/* Add padding to containers */
.container {
  padding: 16px;
  background-color: white;
  width: 600px;
  margin: 50px auto;
}

/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #04aa6d;
  background-color: #555;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  /* color: dodgerblue; */
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
